#canvas {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-picker-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#color-picker-option-1-preview {
    width: 40px;
    height: 40px;
    background-color: #800000;
    border: 1px solid black;
}

#color-picker-option-2-preview {
    width: 40px;
    height: 40px;
    background-color: #f0e0d6;
    border: 1px solid black;
}