body {
    font-family: Arial, Helvetica, sans-serif;
}

#appstage {
    max-width: 1150px;
    margin: 0 auto;
}

nav {
    padding: 8px;
    background-color: greenyellow;
    border-width: 1px;
    border-color: green;
    border-style: solid;
}

h1 > a:visited, nav a:visited {
    color: blue;
}

#menubar {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.center {
    margin: 0 auto;
    max-width: 750px;
}

.posts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.posts-grid-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#viewer {
    margin-top: 1em;
  }
