:root {
  --main-bg-color: #c4ee62;
  --main-border-color: #3c6712;
  --main-highlight-color: #ef842d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#appstage {
  max-width: 1150px;
  margin: 0 auto;
}

nav {
  padding: 8px;
  background-color: var(--main-bg-color);
  border-width: 1px;
  border-color: var(--main-border-color);
  border-style: solid;
  color: var(--main-border-color);
}

h1 > a:visited,
h2 > a:visited,
nav a:visited {
  color: blue;
}

#nav-draw-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  color: blue;
  text-decoration: underline;
}

.logo {
  margin: 0px;
  padding: 0px;
}

#menubar {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 8px;
}

.center {
  margin: 0 auto;
  max-width: 829px;
}

.post-image {
  max-width: 100%;
  display: flex;
  object-fit: contain;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.posts-grid-item {
  overflow: hidden;
}

.posts-grid-item img {
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  aspect-ratio: 1 / 1;
}

.banner-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.banner {
  border: 1px solid black;
  width: 200px;
  height: 40px;
}

.banners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.banners-grid-item img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

#viewer {
  margin-top: 1em;
}

.comment {
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em;
}

.notification-comment {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.notification-post-image {
  max-width: 100px;
  max-height: 100px;
}

.muted {
  color: gray;
}

.button-follow {
  background-color: var(--main-bg-color);
  color: white;
  padding: 8px;
  border: solid 1px black;
  cursor: pointer;
  height: 42px;
}

.button-follow:hover {
  background-color: var(--main-border-color);
}

.button-unfollow {
  background-color: red;
  color: white;
  padding: 8px;
  border: solid 1px black;
  cursor: pointer;
  height: 42px;
}

.button-unfollow:hover {
  background-color: darkred;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.followings-list {
  columns: 3;
  column-gap: 4px;
  list-style: none;
  padding-left: 0;
}

.followings-list li {
  break-inside: avoid-column;
  border: 1px solid black;
  padding: 8px;
  margin: 4px 0;
}

.followings-list li:first-of-type {
  margin-top: 0;
}

.dangerous {
  color: red;
}

.safe {
  color: green;
}

.guestbook-entry {
  border: 1px solid black;
  padding: 8px;
  margin: 8px 0;
}

.guestbook-reply {
  border: 1px solid black;
  padding: 8px;
  margin: 8px 0;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.links {
  margin-top: 0;
}

.post-sidebar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-content: center;
  flex-wrap: wrap;
}

.post-main {
  flex-grow: 1;
}

.post-comments {
  flex-grow: 1;
}

.post-content {
  white-space: pre-wrap;
}

.post-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.post-share {
  padding: 8px 0;
}

.sensitive {
  filter: blur(1rem);
}

.home-section-title {
  padding: 8px;
  background-color: var(--main-bg-color);
  border-width: 1px;
  border-color: var(--main-border-color);
  border-style: solid;
  color: var(--main-border-color);
}
