{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_get_message("brand") }}?
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_get_message("brand") }}?</h2>
    <p>{{ ftl_get_message("about") }}</p>
    <h3>한국어 SNS</h3>
    <ul>
      <li>
        X: <a href="https://x.com/oeee_cafe">@oeee_cafe</a>
      </li>
      <li>
        플래닛: <a href="https://planet.moe/@oeee_cafe">@oeee_cafe</a>
      </li>
    </ul>
    <h3>日本語 SNS</h3>
    <ul>
      <li>
        X: <a href="https://x.com/kyuri_cafe">@kyuri_cafe</a>
      </li>
      <li>
        Misskey.io: <a href="https://misskey.io/@oeee_cafe">@oeee_cafe</a>
      </li>
    </ul>
    {% if users_with_public_posts_and_banner|length > 0 %}
      <h3>{{ ftl_get_message("user-contributors") }}</h3>
      <div class="banners-grid">
        {% for user in users_with_public_posts_and_banner %}
          <div class="banners-grid-item">
            <a href="/@{{ user.login_name }}"
               alt="{{ user.display_name }} (@{{ user.login_name }})">
              <img width="{{ user.banner_image_width }}"
                   height="{{ user.banner_image_height }}"
                   alt="{{ user.display_name }} (@{{ user.login_name }}) 동맹 배너"
                   class="banner"
                   src="{{ r2_public_endpoint_url }}/image/{{ user.banner_image_filename[:2] }}/{{ user.banner_image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <p style="margin-top: 2em;">
      <a href="/privacy">{{ ftl_get_message("privacy-policy") }}</a>
    </p>
  </div>
{% endblock content %}
