{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_get_message("account") }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_get_message("account") }}</h2>
    <form method="post">
      <fieldset>
        <legend>{{ ftl_get_message("account-info") }}</legend>
        <p>{{ ftl_get_message("account-created-at") }}: {{ current_user.created_at|dateformat(format="short", tz="Asia/Seoul") }}</p>
        <p>
          <label for="login_name">{{ ftl_get_message("login-name") }}:</label>
          <input name="login_name"
                 id="login_name"
                 autocapitalize="none"
                 value="{{ current_user.login_name }}" />
        </p>
        <p>
          <label for="display_name">{{ ftl_get_message("display-name") }}:</label>
          <input name="display_name"
                 id="display_name"
                 value="{{ current_user.display_name }}" />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("account-info-edit") }}" />
    </form>
    <form method="post" action="/account/password">
      <fieldset>
        <legend>{{ ftl_get_message("account-change-password") }}</legend>
        <p>
          <label for="current_password">{{ ftl_get_message("account-change-password-current") }}:</label>
          <input name="current_password" id="current_password" type="password" />
        </p>
        <p>
          <label for="new_password">{{ ftl_get_message("account-change-password-new") }}:</label>
          <input name="new_password" id="new_password" type="password" />
        </p>
        <p>
          <label for="new_password_confirm">{{ ftl_get_message("account-change-password-new-repeat") }}:</label>
          <input name="new_password_confirm" id="new_password_confirm" type="password" />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("account-info-edit") }}" />
    </form>
    <form hx-post="/account/request-verify-email" hx-swap="outerHTML">
      <fieldset>
        <legend>{{ ftl_get_message("account-change-email") }}</legend>
        {% if current_user.email_verified_at %}
          <p>
            {{ ftl_get_message("account-change-email-verified-at") }}: {{ current_user.email_verified_at|dateformat(format="short",
             tz="Asia/Seoul") }}
          </p>
        {% else %}
          <p class="dangerous">{{ ftl_get_message("account-email-not-verified-warning") }}</p>
        {% endif %}
        <p>
          <label for="email">{{ ftl_get_message("account-change-email-email") }}:</label>
          <input name="email"
                 id="email"
                 type="email"
                 value="{%- if current_user.email -%}{{ current_user.email }}{%- endif -%}" />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("account-verify-email-request") }}" />
    </form>
    <form action="/account/language" method="post">
      <fieldset>
        <legend>{{ ftl_get_message("account-language-settings") }}</legend>
        <p>
          <label for="language">{{ ftl_get_message("account-language-current") }}:</label>
          <select name="language" id="language">
            {% for code, name in languages %}
              <option value="{{ code }}"
                      {% if code == current_user.preferred_language|lower %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
            <option value="auto"
                    {% if not current_user.preferred_language %}selected{% endif %}>
              {{ ftl_get_message("account-language-auto") }}
            </option>
          </select>
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("account-language-settings-save") }}" />
    </form>
    <form action="/account/show-sensitive-content" method="post">
      <fieldset>
        <legend>{{ ftl_get_message("account-content-settings") }}</legend>
        <p>
          <label>
            <input type="checkbox"
                   name="show_sensitive_content"
                   id="show_sensitive_content"
                   {% if current_user.show_sensitive_content %}checked{% endif %}
                   onchange="this.form.submit()" />
            {{ ftl_get_message("account-show-sensitive-content") }}
          </label>
        </p>
      </fieldset>
    </form>
    <form id="delete-account-form"
          hx-delete="/account/delete"
          hx-confirm="{{ ftl_get_message("account-delete-confirm") }}"
          hx-target="#delete-error"
          hx-swap="innerHTML">
      <fieldset class="dangerous">
        <legend>{{ ftl_get_message("account-delete") }}</legend>
        <p class="dangerous">{{ ftl_get_message("account-delete-warning") }}</p>
        <div id="delete-error"></div>
        <p>
          <label for="delete_password">{{ ftl_get_message("account-change-password-current") }}:</label>
          <input name="password"
                 id="delete_password"
                 type="password"
                 required />
        </p>
      </fieldset>
      <button type="submit" class="dangerous">{{ ftl_get_message("account-delete-button") }}</button>
    </form>
    <form action="/logout" method="post">
      <button type="submit">{{ ftl_get_message("sign-out") }}</button>
    </form>
  </div>
{% endblock content %}
