{% extends "base.jinja" %}
{% block content %}
    <div class="center">
        <h2>{{ ftl_get_message("banner-management-title") }}</h2>
        <p>{{ ftl_get_message("banner-management-description") }}</p>

        {% if banners|length == 0 %}
            <p>{{ ftl_get_message("banner-management-no-banners") }}</p>
            <a href="/banners/draw">{{ ftl_get_message("banner-management-create-first") }}</a>
        {% else %}
            {% include "banner_grid.jinja" %}

            <div style="margin-top: 2rem;">
                <a href="/banners/draw">{{ ftl_get_message("banner-management-create-new") }}</a>
            </div>
        {% endif %}

        <div style="margin-top: 2rem;">
            <a href="/@{{ user.login_name }}/settings">{{ ftl_get_message("banner-management-back-to-settings") }}</a>
        </div>
    </div>
{% endblock content %}
