<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>
      {%- block title -%}
        {{ ftl_brand }}
      {%- endblock title -%}
    </title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"></script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <meta name="keywords" content="오이카페, 오에카키, 커뮤니티, お絵かき" />
    <meta name="description" content="오이카페는 오에카키 커뮤니티입니다. お絵かできるOEEEカフェです。" />
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header class="center">
      <h1>
        <a href="/">{{ ftl_brand }} 🥒</a>
      </h1>
      <nav>
        <div id="menubar">
          <div>
            <a href="/">{{ ftl_home }}</a>
          </div>
          <div>
            <a href="/about">{{ ftl_brand }}?</a>
          </div>
          {% if current_user %}
            {% if draft_post_count > 0 %}
              <div>
                <a href="/posts/drafts">{{ ftl_drafts }} ({{ draft_post_count }})</a>
              </div>
            {% endif %}
            <div>
              <a href="/communities">{{ ftl_community }}</a>
            </div>
            <div>
              <a href="/@{{ current_user.login_name }}">{{ ftl_profile }}</a>
            </div>
            <div>
              <a href="/account">{{ ftl_account }}</a>
              {% if not current_user.email_verified_at
                %}
                <span class="dangerous">({{ ftl_email_not_verified }})</span>
              {% endif %}
            </div>
            <form action="/logout" method="post">
              <button type="submit">{{ ftl_sign_out }}</button>
            </form>
          {% else %}
            <a href="/login">{{ ftl_sign_in }}</a>
            <a href="/signup">{{ ftl_sign_up }}</a>
          {% endif %}
        </div>
      </nav>
      <ul>
        {% for message in messages %}
          <li>
            <span><strong>{{ message.m }}</strong></span>
          </li>
        {% endfor %}
      </ul>
    </header>
    <main>
      {% block body %}
      {% endblock body %}
    </main>
  </body>
</html>
