<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}오이카페{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
    />
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="center">
      <h1><a href="/">오이카페 🥒</a></h1>
      <nav>
        <div id="menubar">
          <div><a href="/">홈</a></div>
          <div><a href="/about">오이카페?</a></div>
          {% if current_user %} {% if draft_post_count > 0 %}
          <div>
            <a href="/posts/drafts">임시 보관함 ({{ draft_post_count }})</a>
          </div>
          {% endif %}
          <div><a href="/communities">커뮤니티</a></div>
          <div><a href="/@{{ current_user.login_name }}">프로필</a></div>
          <div>
            <a href="/account">계정</a> {% if not current_user.email_verified_at
            %}
            <span class="dangerous">(이메일 미인증)</span>
            {% endif %}
          </div>
          <form action="/logout" method="post">
            <button type="submit">로그아웃</button>
          </form>
          {% else %}
          <a href="/login">로그인</a>
          <a href="/signup">회원가입</a>
          {% endif %}
        </div>
      </nav>
      <ul>
        {% for message in messages %}
        <li>
          <span><strong>{{ message.m }}</strong></span>
        </li>
        {% endfor %}
      </ul>
    </header>
    <main>{% block body %}{% endblock %}</main>
  </body>
</html>
