{% extends "base_iframe.jinja" %}
{% block title %}
  {{ super() }} | {{ community.name }}
{% endblock title %}
{% block body %}
  <div class="center">
    {% if posts %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/@{{ post.community_slug if post.community_slug else post.user_login_name }}/{{ post.id }}" target="_blank">
              <img alt="{{ post.title }}"
                   width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_get_message("community-no-posts") }}</p>
    {% endif %}
  </div>
{% endblock body %}
