{% extends "base.html" %}
{% block title %}
  {{ super() }} | {{ community.name }}
{% endblock title %}
{% block body %}
  <div class="center">
    <h2>{{ community.name }}</h2>
    <p>{{ community.description }}</p>
    {% if current_user %}
      <form action="/draw" method="post">
        <input type="hidden" name="community_id" value="{{ encoded_community_id }}" />
        <select name="tool" title="{{ ftl_community_drawing_tool }}">
          <option value="neo" selected>PaintBBS NEO</option>
          <option value="tegaki">Tegaki</option>
        </select>
        <select name="width" title="{{ ftl_community_drawing_width }}">
          <option value="300" selected>300</option>
          <option value="350">350</option>
          <option value="400">400</option>
          <option value="450">450</option>
          <option value="500">500</option>
          <option value="550">550</option>
          <option value="600">600</option>
          <option value="650">650</option>
          <option value="700">700</option>
          <option value="750">750</option>
          <option value="800">800</option>
          <option value="850">850</option>
          <option value="900">900</option>
          <option value="950">950</option>
          <option value="1000">1000</option>
        </select>
        X
        <select name="height" title="{{ ftl_community_drawing_height }}">
          <option value="300" selected>300</option>
          <option value="350">350</option>
          <option value="400">400</option>
          <option value="450">450</option>
          <option value="500">500</option>
          <option value="550">550</option>
          <option value="600">600</option>
          <option value="650">650</option>
          <option value="700">700</option>
          <option value="750">750</option>
          <option value="800">800</option>
        </select>
        <input type="submit" value="{{ ftl_community_drawing_new }}" />
      </form>
    {% endif %}
    <h3>{{ ftl_recent_drawings }}</h3>
    {% if posts %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/posts/{{ post.id }}">
              <img alt="{{ post.title }}"
                   width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_community_no_posts }}</p>
    {% endif %}
  </div>
{% endblock body %}
