{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_get_message("community") }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_get_message("official-communities") }}</h2>
    {% if official_communities %}
      <ul>
        {% for community in official_communities %}
          <li>
            <a href="{{ community.link }}">{{ community.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ ftl_get_message("official-communities-nil") }}</p>
    {% endif %}
    {% if current_user %}
      {% if participating_communities %}
        <h2>{{ ftl_get_message("participating-community") }}</h2>
        <ul>
          {% for community in participating_communities %}
            <li>
              <a href="{{ community.link }}">{{ community.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ ftl_get_message("active-communities-nil") }}</p>
      {% endif %}
    {% endif %}
    {% if public_communities %}
      <h2>{{ ftl_get_message("latest-active-public-community") }}</h2>
      <ul>
        {% for community in public_communities %}
          <li>
            <a href="{{ community.link }}">{{ community.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ ftl_get_message("active-communities-nil") }}</p>
    {% endif %}
    {% if current_user %}
      <h2>{{ ftl_get_message("my-communities") }}</h2>
      {% if own_communities %}
        <ul>
          {% for community in own_communities %}
            <li>
              <a href="{{ community.link }}">{{ community.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ ftl_get_message("my-communities-nil") }}</p>
      {% endif %}
      <a href="/communities/new">{{ ftl_get_message("create-community") }}</a>
    {% endif %}
  </div>
{% endblock content %}
