{% extends "base.jinja" %}
{% import "comment_card_macro.jinja" as comment_card_macro %}
{% block title %}
  {{ super() }} | {{ community.name }} | {{ ftl_get_message("recent-comments") }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>
      <a href="/communities/@{{ community.slug }}">{{ community.name }}</a> - {{ ftl_get_message("recent-comments") }}
    </h2>
    {% if comments %}
      {% for comment in comments %}
        {{ comment_card_macro.comment_card(comment, r2_public_endpoint_url, ftl_get_message) }}
      {% endfor %}
    {% else %}
      <p>{{ ftl_get_message("no-comments-yet") }}</p>
    {% endif %}
  </div>
{% endblock content %}
