{% macro comments(comments) %}
  {% for comment in comments %}
    <div class="comment">
      <p>
        {{ ftl_get_message("comment-created-at") }}: {{ comment.created_at|datetimeformat(format="short",
         tz="Asia/Seoul") }}
      </p>
      <p>
        {{ ftl_get_message("display-name") }}:
        <a href="{{ comment.actor_handle }}">{{ comment.actor_name }}</a>
        <span class="muted">{{ comment.actor_handle }}</span>
      </p>
      <div>
        {% if comment.content_html %}
          {{ comment.content_html|safe }}
        {% else %}
          {{ comment.content|markdown|safe }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endmacro %}
