{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_community }}
{% endblock title %}
{% block body %}
  <div class="center">
    <h2>{{ ftl_official_communities }}</h2>
    {% if official_communities %}
      <ul>
        {% for community in official_communities %}
          <li>
            <a href="{{ community.link }}">{{ community.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ ftl_official_communities_nil }}</p>
    {% endif %}
    {% if current_user %}
      {% if participating_communities %}
        <h2>{{ ftl_participating_community }}</h2>
        <ul>
          {% for community in participating_communities %}
            <li>
              <a href="{{ community.link }}">{{ community.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ ftl_active_communities_nil }}</p>
      {% endif %}
    {% endif %}
    {% if public_communities %}
      <h2>{{ ftl_latest_active_public_community }}</h2>
      <ul>
        {% for community in public_communities %}
          <li>
            <a href="{{ community.link }}">{{ community.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ ftl_active_communities_nil }}</p>
    {% endif %}
    {% if current_user %}
      <h2>{{ ftl_my_communities }}</h2>
      {% if own_communities %}
        <ul>
          {% for community in own_communities %}
            <li>
              <a href="{{ community.link }}">{{ community.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ ftl_my_communities_nil }}</p>
      {% endif %}
      <a href="/communities/new">{{ ftl_create_community }}</a>
    {% endif %}
  </div>
{% endblock body %}
