{% extends "base.html" %}{% block title %}{{ super() }} | {{ community.name }}{%
endblock %} {% block body %}
<div class="center">
  <h2>{{ community.name }}</h2>
  <p>{{ community.description }}</p>

  {% if current_user %}
  <form action="/draw" method="post">
    <input type="hidden" name="community_id" value="{{ community.id }}" />
    <select name="width" title="너비">
      <option value="300" selected>300</option>
      <option value="350">350</option>
      <option value="400">400</option>
      <option value="450">450</option>
      <option value="500">500</option>
      <option value="550">550</option>
      <option value="600">600</option>
      <option value="650">650</option>
      <option value="700">700</option>
      <option value="750">750</option>
      <option value="800">800</option>
      <option value="850">850</option>
      <option value="900">900</option>
      <option value="950">950</option>
      <option value="1000">1000</option>
    </select>
    X
    <select name="height" title="높이">
      <option value="300" selected>300</option>
      <option value="350">350</option>
      <option value="400">400</option>
      <option value="450">450</option>
      <option value="500">500</option>
      <option value="550">550</option>
      <option value="600">600</option>
      <option value="650">650</option>
      <option value="700">700</option>
      <option value="750">750</option>
      <option value="800">800</option>
    </select>
    <input type="submit" value="새 그림 그리기" />
  </form>
  {% endif %}

  <h3>최근 그림</h3>
  {% if posts %}
  <div class="posts-grid">
    {% for post in posts %}
    <div class="posts-grid-item">
      <a href="/posts/{{ post.id }}"
        ><img
          src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
      /></a>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <p>게시된 그림이 없습니다.</p>
  {% endif %}
</div>
{% endblock %}
