{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ community.name }}
{% endblock title %}
{% block head %}
  <link rel="alternate"
        type="application/activity+json"
        href="https://{{ domain }}/ap/communities/{{ community.id }}" />
{% endblock head %}
{% block content %}
  <div class="center">
    {% block community_edit_block %}
      <div hx-target="this" hx-swap="outerHTML">
        <h2>{{ community.name }}</h2>
        <p style="color: #666; font-size: 14px; margin: 5px 0; user-select: all">@{{ community.slug }}@{{ domain }}</p>
        <p>{{ community.description }}</p>
        {% if current_user.id == community.owner_id %}
          <div class="community-menu">
            <button hx-get="/communities/{{ community_id }}/edit">{{ ftl_get_message("edit") }}</button>
          </div>
        {% endif %}
      </div>
    {% endblock community_edit_block %}
    {% if current_user %}
      {% if community.background_color %}
        <form action="/draw" method="post">
          <input type="hidden" name="community_id" value="{{ community_id }}" />
          <input type="hidden" name="tool" value="cucumber" />
          <input type="hidden" name="width" value="640" />
          <input type="hidden" name="height" value="480" />
          <input type="submit" value="{{ ftl_get_message("community-drawing-new") }}" />
        </form>
      {% else %}
        <form action="/draw" method="post">
          <input type="hidden" name="community_id" value="{{ community_id }}" />
          <select name="tool" title="{{ ftl_get_message("community-drawing-tool") }}">
            <option value="neo" selected>PaintBBS NEO</option>
            <option value="tegaki">Tegaki</option>
          </select>
          <select name="width" title="{{ ftl_get_message("community-drawing-width") }}">
            <option value="300" selected>300</option>
            <option value="350">350</option>
            <option value="400">400</option>
            <option value="450">450</option>
            <option value="500">500</option>
            <option value="550">550</option>
            <option value="600">600</option>
            <option value="650">650</option>
            <option value="700">700</option>
            <option value="750">750</option>
            <option value="800">800</option>
            <option value="850">850</option>
            <option value="900">900</option>
            <option value="950">950</option>
            <option value="1000">1000</option>
          </select>
          X
          <select name="height" title="{{ ftl_get_message("community-drawing-height") }}">
            <option value="300" selected>300</option>
            <option value="350">350</option>
            <option value="400">400</option>
            <option value="450">450</option>
            <option value="500">500</option>
            <option value="550">550</option>
            <option value="600">600</option>
            <option value="650">650</option>
            <option value="700">700</option>
            <option value="750">750</option>
            <option value="800">800</option>
          </select>
          <input type="submit" value="{{ ftl_get_message("community-drawing-new") }}" />
        </form>
      {% endif %}
    {% endif %}
    {% if comments %}
      <h3>{{ ftl_get_message("recent-comments") }}</h3>
      <div class="comment-list">
        {% for comment in comments %}
          <div class="comment-list-item">
            {% if comment.actor_login_name %}
              <a href="/@{{ comment.actor_login_name }}">{{ comment.actor_name }}</a>
            {% else %}
              <span>{{ comment.actor_name }}</span>
            {% endif %}
             → <a href="/@{{ comment.post_author_login_name }}/{{ comment.post_id }}">
              {% if comment.post_title %}
                {{ comment.post_title }}
              {% else %}
                {{ ftl_get_message("post-no-title") }}
              {% endif %}
            </a>:
            {% if comment.content_html %}
              {{ comment.content_html|safe }}
            {% else %}
              {{ comment.content }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <h3>{{ ftl_get_message("recent-drawings") }}</h3>
    {% if posts %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/@{{ post.user_login_name }}/{{ post.id }}">
              <img alt="{{ post.title }}"
                   width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_get_message("community-no-posts") }}</p>
    {% endif %}
  </div>
{% endblock content %}
