{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_create_community }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_create_community }}</h2>
    <form method="post" action="/communities">
      <fieldset>
        <legend>{{ ftl_new_community }}</legend>
        <p>
          <label for="name">{{ ftl_community_name }}:</label>
          <input name="name" id="name" />
        </p>
        <p>
          <label for="display_name">ID:</label>
          <input name="display_name" id="display_name" required />
        </p>
        <p>
          <label for="email">{{ ftl_community_description }}:</label>
          <textarea name="description" id="description"></textarea>
        </p>
        <p>
          <label for="is_private">{{ ftl_private_community }}:</label>
          <input type="checkbox" name="is_private" id="is_private" />
          ({{ ftl_private_community_description }})
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_create_community }}" />
    </form>
  </div>
{% endblock content %}
