{% extends "base.html" %} {% block title %}{{ super() }} | {{ title }} {%
endblock %} {% block body %}
<div class="center">
  <h2>임시 보관함</h2>
  <div class="posts-grid">
    {% for post in posts %}
    <div style="padding: 4px">
      <h3>
        <a href="/posts/{{ post.id }}/publish">
          {{ post.created_at|dateformat(format="short", tz="Asia/Seoul") }}</a
        >
      </h3>
      <img
        src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
      />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
