{% extends "base.html" %}
{% block title %}
  {{ super() }} | {{ title }}
{% endblock title %}
{% block body %}
  <div class="center">
    <h2>{{ ftl_drafts }}</h2>
    <div class="posts-grid">
      {% for post in posts %}
        <div class="posts-grid-item">
          <h3>
            <a href="/posts/{{ post.id }}/publish">{{ post.created_at|dateformat(format="short", tz="Asia/Seoul") }}</a>
          </h3>
          <img width="{{ post.image_width }}"
               height="{{ post.image_height }}"
               alt="{{ ftl_draft_post }}"
               src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
               crossorigin="anonymous" />
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
