{% extends "base.jinja" %}
{% block title %}
  {{ super() }} |
  {% if parent_post %}Re: {{ parent_post.title }}{% else %}{{ ftl_get_message("community-drawing-new") }}{% endif %}
  {% if community_name %} @ {{ community_name }}{% endif %}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>
      {% if parent_post %}Re: {{ parent_post.title }}{% else %}{{ ftl_get_message("community-drawing-new") }}{% endif %}
      {% if community_name %} @ {{ community_name }}{% endif %}
    </h2>
  </div>
  <link rel="stylesheet"
        href="{{ '/static/neo-cucumber/offline.css' | cachebuster | safe }}" />
  <div id="neo-cucumber-root"></div>
  <div class="center">
    <button id="oeee-painter-save" type="button" disabled>{{ ftl_get_message("save") }}</button>
  </div>
  <script id="neo-cucumber-config" type="application/json">{{ painter_config | safe }}</script>
  <script type="module"
          src="{{ '/static/neo-cucumber/offline.js' | cachebuster | safe }}"></script>
{% endblock content %}
