{% extends "base.html" %}
{% block title %}
  {{ super() }} | {{ ftl_community_drawing_new }} ({{ community_name }})
{% endblock title %}
{% block body %}
  <h2 class="center">{{ ftl_community_drawing_new }} ({{ community_name }})</h2>
  <link rel="stylesheet" href="/static/neo/dist/neo.css" type="text/css" />
  <script src="/static/neo/dist/neo.js" charset="utf-8"></script>
  <script>
  document.write(`
  <div id="appstage">
       <applet-dummy name="paintbbs" width="{{ width + 150 }}" height="{{ height + 172 }}">
         <param name="image_width" value="{{ width }}">
         <param name="image_height" value="{{ height }}">
         <param name="thumbnail_type" value="animation">
       </applet-dummy>
       </div>
     `);

  document.paintBBSCallback = function (str) {
    if (str === "check") {
      const image = Neo.painter.getImage();
      const animation = Neo.painter.getThumbnail("animation");

      const form = new FormData();
      form.append("image", image.toDataURL("image/png"));
      form.append("animation", animation);
      form.append("community_id", "{{ community_id }}");
      form.append("security_timer", Neo.painter.securityTimer);
      form.append("security_count", Neo.painter.securityCount);
      form.append("width", image.width);
      form.append("height", image.height);
      form.append("tool", "neo");

      // post form using fetch
      fetch("/draw/finish", {
        method: "POST",
        body: form,
      })
        .then((response) => response.json())
        .then(async (data) => {
          if (data?.error) {
            alert(data.error);
          } else {
            Neo.uploaded = true;
            location.href = `/posts/${data.post_id}/publish`;
          }
        })
        .catch((error) => {
          alert(
            "{{ ftl_community_drawing_post_error }}"
          );
        });

      return false;
    }
  };
  </script>
  <br />
{% endblock body %}
