{% extends "base.jinja" %}
{% block title %}
  {{ super() }} |
  {% if parent_post %}
    Re: {{ parent_post.title }} @ {{ community_name }}
  {% else %}
    {{ ftl_get_message("community-drawing-new") }} @ {{ community_name }}
  {% endif %}
{% endblock title %}
{% block content %}
<h2 class="center">
  {% if parent_post %}
    Re: {{ parent_post.title }} @ {{ community_name }}
  {% else %}
    {{ ftl_get_message("community-drawing-new") }} @ {{ community_name }}
  {% endif %}
</h2>
<link rel="stylesheet"
      href="{{ '/static/neo/dist/neo.css' | cachebuster | safe }}"
      type="text/css" />
<script src="{{ '/static/neo/dist/neo.js' | cachebuster | safe }}"
        charset="utf-8"></script>
<script>
  document.write(`
  <div id="appstage">
       <applet-dummy name="paintbbs" width="{{ width + 150 }}" height="{{ height + 172 }}">
         <param name="image_width" value="{{ width }}">
         <param name="image_height" value="{{ height }}">
         <param name="thumbnail_type" value="animation">
       </applet-dummy>
       </div>
     `);

  document.paintBBSCallback = function (str) {
    if (str === "check") {
      const image = Neo.painter.getImage();
      const animation = Neo.painter.getThumbnail("animation");

      const form = new FormData();
      form.append("image", image.toDataURL("image/png"));
      form.append("animation", animation);
      form.append("community_id", "{{ community_id }}");
      form.append("security_timer", Neo.painter.securityTimer);
      form.append("security_count", Neo.painter.securityCount);
      form.append("width", image.width);
      form.append("height", image.height);
      form.append("tool", "neo");

      {% if parent_post %}
      form.append("parent_post_id", "{{ parent_post.id }}");
      {% elif parent_post_id %}
      form.append("parent_post_id", "{{ parent_post_id }}");
      {% endif %}

      // post form using fetch
      fetch("/draw/finish", {
        method: "POST",
        body: form,
      })
        .then((response) => response.json())
        .then(async (data) => {
          if (data?.error) {
            alert(data.error);
          } else {
            Neo.uploaded = true;
            location.href = `/posts/${data.post_id}/publish`;
          }
        })
        .catch((error) => {
          alert("{{ ftl_get_message("community-drawing-post-error") }}");
        });

      return false;
    }
  };

{% if is_relay and parent_post %}
{# We need cachebuster here because CORS policy is wrongly cached in community post list #}
  const parentPostImageUrl = "{{ r2_public_endpoint_url|safe }}/image/{{ parent_post.image_filename[:2] }}/{{ parent_post.image_filename | cachebuster }}";
  fetch(parentPostImageUrl)
    .then(response => response.blob())
    .then(blob => {
      const img = new Image();
      img.src = URL.createObjectURL(blob);
      img.onload = () => {
        Neo.painter.startFromImage(img);
      };
    })
    .catch(error => {
      console.error("Error loading parent post image:", error);
    });
{% endif %}

</script>
<br />
{% endblock content %}
