<form hx-post="/account/request-verify-email" hx-swap="outerHTML">
  <fieldset>
    <legend>{{ ftl_account_change_email }}</legend>
    {% if current_user.email_verified_at %}
      <p>
        {{ ftl_account_change_email_verified_at }}: {{ current_user.email_verified_at|dateformat(format="short",
         tz="Asia/Seoul") }}
      </p>
    {% else %}
      <p class="dangerous">{{ ftl_account_email_not_verified_warning }}</p>
    {% endif %}
    <p>
      <label for="email">{{ ftl_account_change_email_email }}:</label>
      <input name="email"
             id="email"
             type="email"
             value="{%- if current_user.email -%}{{ current_user.email }}{%- endif -%}" />
    </p>
    {% if message %}<p>{{ message }}</p>{% endif %}
  </fieldset>
  <input type="submit" value="{{ ftl_account_verify_email_request }}" />
</form>
