<form hx-post="/account/verify-email" hx-swap="outerHTML">
  <input type="hidden" name="challenge_id" value="{{ challenge_id }}" />
  <fieldset>
    <legend>{{ ftl_account_change_email }}</legend>
    <p>
      <label for="email">{{ ftl_account_change_email_email }}:</label>
      <input name="email" id="email" type="email" value="{{ email }}" disabled />
    </p>
    {% if not success %}
      <p>
        <label for="token">{{ ftl_account_change_email_token }}:</label>
        <input name="token" id="token" type="text" pattern="\d*" maxlength="6" />
      </p>
    {% endif %}
    {% if message %}
      {% if success %}
        <p class="safe">{{ message }}</p>
      {% else %}
        <p class="dangerous">{{ message }}</p>
      {% endif %}
    {% endif %}
  </fieldset>
  <input type="submit" value="{{ ftl_account_change_email_verify }}" />
</form>
