{% macro guestbook_entry(entry) %}
  <div class="guestbook-entry">
    <div>
      <a href="/@{{ entry.author_login_name }}">{{ entry.author_display_name }}</a>
      <span class="muted">@{{ entry.author_login_name }}</span>
    </div>
    <span class="muted">{{ entry.created_at|dateformat(format="short", tz="Asia/Seoul") }}</span>
    <div>
      <pre>{{ entry.content }}</pre>
    </div>
    {% if entry.reply %}
      {{ guestbook_entry_reply(entry) }}
    {% else %}
      {% if
        current_user and current_user.id == entry.recipient_id %}
        <form hx-post="/@{{ user.login_name }}/guestbook/{{ entry.id }}/reply"
              hx-swap="outerHTML">
          <textarea name="content" title="{{ ftl_guestbook_reply }}"></textarea>
          <input type="submit" value="{{ ftl_guestbook_reply_write }}" />
        </form>
      {% endif %}
    {% endif %}
    {% if current_user and (current_user.id ==
      entry.author_id and not entry.reply) or (current_user.id ==
      entry.recipient_id) %}
      <form hx-delete="/@{{ user.login_name }}/guestbook/{{ entry.id }}"
            hx-swap="outerHTML"
            hx-target="closest .guestbook-entry"
            hx-confirm="{{ ftl_guestbook_delete_confirm }}">
        <input type="submit" value="{{ ftl_guestbook_delete }}" />
      </form>
    {% endif %}
  </div>
{% endmacro %}
{% macro guestbook_entry_reply(entry) %}
  <div class="guestbook-reply">
    <div>
      <a href="/@{{ entry.recipient_login_name }}">{{ entry.recipient_display_name }}</a>
      <span class="muted">@{{ entry.recipient_login_name }}</span>
    </div>
    <span class="muted">{{ entry.replied_at|dateformat(format="short", tz="Asia/Seoul") }}</span>
    <div>
      <pre>{{ entry.reply }}</pre>
    </div>
  </div>
{% endmacro %}
