{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | #{{ hashtag.display_name }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>#{{ hashtag.display_name }}</h2>
    <p style="color: #666; font-size: 14px; margin: 5px 0;">{{ hashtag.post_count }} {{ ftl_get_message("hashtag-post-count") }}</p>

    <h3>{{ ftl_get_message("recent-drawings") }}</h3>
    {% if posts %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/@{{ post.user_login_name }}/{{ post.id }}">
              <img alt="{{ post.title }}"
                   width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_get_message("hashtag-no-posts") }}</p>
    {% endif %}
  </div>
{% endblock content %}
