{% extends "base.html" %} {% block title %}{{ super() }} | {{ title }}{%
endblock %} {% block body %}
<div class="center">
  <h2>최근 활동 공개 커뮤니티</h2>
  {% if public_communities %}
  <ul>
    {% for community in public_communities %}
    <li><a href="{{ community.link }}">{{ community.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>활동 중인 공개 커뮤니티가 없습니다.</p>
  {% endif %} {% if current_user %}
  <h2>내 커뮤니티</h2>
  {% if own_communities %}
  <ul>
    {% for community in own_communities %}
    <li><a href="{{ community.link }}">{{ community.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>내가 만든 커뮤니티가 없습니다.</p>
  {% endif %} {% endif %}
</div>
{% endblock %}
