{% extends "base.jinja" %}
{% block content %}
  <div class="center">
    <form method="post">
      <fieldset>
        <legend>{{ ftl_get_message("sign-in") }}</legend>
        <p>
          <label for="login_name">{{ ftl_get_message("login-name") }}</label>
          <input name="login_name" id="login_name" />
        </p>
        <p>
          <label for="password">{{ ftl_get_message("password") }}</label>
          <input name="password" id="password" type="password" />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("sign-in") }}" />
      {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
  </div>
{% endblock content %}
