{% extends "base.html" %}
{% block title %}
  {{ ftl_brand }}
{% endblock title %}
{% block body %}
  <div class="center">
    <h2>{{ ftl_notifications }}</h2>
    {% if comments %}
      {% for (comment, encoded_post_id) in comments %}
        <div class="comment notification-comment">
          <a href="/posts/{{ encoded_post_id }}">
            <img class="post-image notification-post-image"
                 width="{{ comment.post_image_width }}"
                 height="{{ comment.post_image_height }}"
                 alt="{{ comment.post_title }}"
                 src="{{ r2_public_endpoint_url|safe }}/image/{{ comment.post_image_filename[:2] }}/{{ comment.post_image_filename }}" />
          </a>
          <div>
            <p>
              {{ ftl_comment_created_at }}: {{ comment.created_at|datetimeformat(format="short",
               tz="Asia/Seoul") }}
            </p>
            <p>
              {{ ftl_display_name }}:
              <a href="/@{{ comment.user_login_name }}">{{ comment.user_display_name }}</a>
              <span class="muted">@{{ comment.user_login_name }}</span>
            </p>
            <pre>{{ comment.content }}</pre>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {{ ftl_no_notifications }}
    {% endif %}
  </div>
{% endblock body %}
