{% extends "base.jinja" %}
{% block title %}
  {{ ftl_get_message("brand") }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_get_message("notifications") }}</h2>
    {% if comments %}
      {% for (comment, post_id) in comments %}
        <div class="comment notification-comment">
          <a href="/@{{ comment.post_author_login_name }}/{{ post_id }}">
            <img class="post-image notification-post-image"
                 width="{{ comment.post_image_width }}"
                 height="{{ comment.post_image_height }}"
                 alt="{{ comment.post_title }}"
                 src="{{ r2_public_endpoint_url|safe }}/image/{{ comment.post_image_filename[:2] }}/{{ comment.post_image_filename }}" />
          </a>
          <div>
            <p>
              {{ ftl_get_message("comment-created-at") }}: {{ comment.created_at|datetimeformat(format="short",
               tz="Asia/Seoul") }}
            </p>
            <p>
              {{ ftl_get_message("display-name") }}:
              <a href="/@{{ comment.user_login_name }}">{{ comment.user_display_name }}</a>
              <span class="muted">@{{ comment.user_login_name }}</span>
            </p>
            <pre>{{ comment.content }}</pre>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {{ ftl_get_message("no-notifications") }}
    {% endif %}
  </div>
{% endblock content %}
