{% extends "base.jinja" %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_get_message("password-reset-sent-title") }}</h2>
    <p>{{ ftl_get_message("password-reset-sent-message") }}</p>
    <p>{{ ftl_get_message("password-reset-sent-email") }}: <strong>{{ email }}</strong></p>
    <p>{{ ftl_get_message("password-reset-check-email") }}</p>

    <p><a href="/login">{{ ftl_get_message("back-to-login") }}</a></p>
  </div>
{% endblock content %}
