{% extends "base.jinja" %}
{% block content %}
  <div class="center">
    <form method="post">
      <fieldset>
        <legend>{{ ftl_get_message("password-reset-verify-title") }}</legend>
        <input name="token" type="hidden" value="{{ token }}" required />
        <p>
          <label for="new_password">{{ ftl_get_message("account-change-password-new") }}</label>
          <input name="new_password" id="new_password" type="password" required />
        </p>
        <p>
          <label for="new_password_confirm">{{ ftl_get_message("account-change-password-new-repeat") }}</label>
          <input name="new_password_confirm" id="new_password_confirm" type="password" required />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("password-reset-submit") }}" />
    </form>
    <p><a href="/login">{{ ftl_get_message("back-to-login") }}</a></p>
  </div>
{% endblock content %}
