{% extends "base.jinja" %}
{% block content %}
  <div class="center">
    <form method="post">
      <fieldset>
        <legend>{{ ftl_get_message("password-reset-title") }}</legend>
        <p>{{ ftl_get_message("password-reset-description") }}</p>
        <p>
          <label for="email">{{ ftl_get_message("email") }}</label>
          <input name="email" id="email" type="email" required />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_get_message("password-reset-send-email") }}" />
    </form>
    <p><a href="/login">{{ ftl_get_message("back-to-login") }}</a></p>
  </div>
{% endblock content %}
