{% extends "base.html" %}

{% block head %}
<meta property="og:image" content="{{ r2_public_endpoint_url}}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
{% endblock %}

{% block body %}
<div class="center">
  <p>그린 시각: {{ post.created_at }}</p>
  <p>
    소요 시간: {{ post.paint_duration }}
    <a href="/posts/{{ encoded_post_id }}/replay">리플레이</a>
  </p>
  <p>HIT: {{ post.viewer_count }}</p>
  <p>
    커뮤니티:
    <a href="/communities/{{ encoded_community_id }}"
      >{{ post.community_name }}</a
    >
  </p>
  <img
    src="{{ r2_public_endpoint_url}}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
  />
  <p>그린이: {{ post.display_name }}</p>
  <p>제목: {% if post.title %}{{ post.title }}{% else %}무제{% endif %}</p>
  <p>내용: <pre>{{ post.content }}</pre></p>
</div>
{% endblock %}
