{% import "comments_macro.html" as comments_macro %}

{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.content }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ base_url }}/posts/{{ encoded_post_id }}" />
<meta property="og:image" content="{{ r2_public_endpoint_url}}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
{% endblock %}

{% block body %}
<div class="center">
  <p>그린 시각: {{ post.created_at }}</p>
  <p>
    소요 시간: {{ post.paint_duration }}
    <a href="/posts/{{ encoded_post_id }}/replay">리플레이</a>
  </p>
  <p>HIT: {{ post.viewer_count }}</p>
  <p>
    커뮤니티:
    <a href="/communities/{{ encoded_community_id }}"
      >{{ post.community_name }}</a
    >
  </p>
</div>
<img class="post-image"
  src="{{ r2_public_endpoint_url}}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
/>
<div class="center">
  <p>그린이: <a href="/@{{ post.login_name }}">{{ post.display_name }}</a> <span class="muted">@{{ post.login_name }}</span></p>
  <p>제목: {% if post.title %}{{ post.title }}{% else %}무제{% endif %}</p>
  <p>내용: <pre>{{ post.content }}</pre></p>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="oeee_cafe" data-hashtags="오이카페" data-related="oeee_cafe" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <div>
    <h2>댓글</h2>
    <form hx-post="/comments" hx-swap="outerHTML">
      <input type="hidden" name="post_id" value="{{ encoded_post_id }}">
      <textarea name="content"
      ></textarea>
      <button type="submit">댓글 달기</button>
  </form>

  {% if comments %}
  {{ comments_macro.comments(comments) }}
  {% endif %}
  
  </div>
</div>
{% endblock %}
