{% extends "base.jinja" %}
{% block title %}
  {{ super() }} |
  {% if post.title %}
    {{ post.title }}
  {% else %}
    {{ ftl_get_message("post-no-title") }}
  {% endif %}
  ({{ ftl_get_message("post-replay") }})
{% endblock title %}
{% block content %}
  <div class="center">
    <p>{{ ftl_get_message("post-published-at") }}: {{ post.published_at }}</p>
    <p>{{ ftl_get_message("post-duration") }}: {{ post.paint_duration }}</p>
    {% if post.community_slug %}
      <p>
        {{ ftl_get_message("community") }}:
        <a href="/communities/@{{ post.community_slug }}">{{ post.community_name }}</a>
      </p>
    {% endif %}
    <iframe id="viewer"
            title="{{ ftl_get_message('post-replay') }}"
            src="/collaborate/?viewer=true&amp;width={{ post.image_width }}&amp;height={{ post.image_height }}&amp;replay={{ r2_public_endpoint_url|safe }}/replay/{{ post.replay_filename[:2] }}/{{ post.replay_filename }}"
            width="{{ post.image_width|int + 24 }}"
            height="{{ post.image_height|int + 120 }}"
            style="border: 0; max-width: 100%"></iframe>
    <p>
      {{ ftl_get_message("post-title") }}:
      <a href="/@{{ post.community_slug if post.community_slug else post.login_name }}/{{ post_id }}">
        {% if post.title %}
          {{ post.title }}
        {% else %}
          {{ ftl_get_message("post-no-title") }}
        {% endif %}
      </a>
    </p>
    <p>{{ ftl_get_message("post-description") }}: {{ post.content }}</p>
  </div>
{% endblock content %}
