{% import "comments_macro.jinja" as comments_macro %}
{% extends "base.jinja" %}
{% block title %}
  {{ super() }} |
  {% if post.title %}
    {{ post.title }}
  {% else %}
    {{ ftl_post_no_title }}
  {% endif %}
{% endblock title %}
{% block head %}
  <link rel="alternate"
        type="application/activity+json"
        href="https://{{ domain }}/ap/posts/{{ post.id }}" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.content }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ base_url|safe }}/posts/{{ post_id }}" />
  <meta property="og:image"
        content="{{ r2_public_endpoint_url|safe }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
  <meta property="twitter:site" content="@oeee_cafe">
  <meta property="twitter:domain" content="oeee.cafe">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:url"
        content="{{ base_url|safe }}/posts/{{ post_id }}">
  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.content }}">
  <meta name="twitter:image"
        content="{{ r2_public_endpoint_url|safe }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}">
{% endblock head %}
{% block content %}
  <div class="center">
    <div class="post-sidebar">
      <div class="post-main">
        <p>{{ ftl_post_published_at }}: {{ post.published_at }}</p>
        <p>
          {{ ftl_post_duration }}: {{ post.paint_duration }}
          {% if post.replay_filename %}
            <a href="/@{{ post.login_name }}/{{ post_id }}/replay">{{ ftl_post_replay }}</a>
          {% endif %}
        </p>
        <p>HIT: {{ post.viewer_count }}</p>
        <p>
          {{ ftl_community }}:
          <a href="/communities/@{{ post.community_slug }}">{{ post.community_name }}</a>
          {% if current_user.id == post.author_id -%}
            (<a href="/posts/{{ post_id }}/edit/community">{{ ftl_edit }}</a>)
          {%- endif %}
        </p>
        {% if post.image_tool == "neo" and post.allow_relay == "true" %}
          <a href="/@{{ post.login_name }}/{{ post_id }}/relay">
            <img class="post-image"
                 width="{{ post.image_width }}"
                 height="{{ post.image_height }}"
                 alt="{{ post.title }}"
                 src="{{ r2_public_endpoint_url|safe }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
          </a>
          <p>
            <i>{{ ftl_post_relay_enabled_notice }}</i>
          </p>
        {% else %}
          <img class="post-image"
               width="{{ post.image_width }}"
               height="{{ post.image_height }}"
               alt="{{ post.title }}"
               src="{{ r2_public_endpoint_url|safe }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
        {% endif %}
        <div class="center">
          <p>
            {{ ftl_post_author }}: <a href="/@{{ post.login_name }}">{{ post.display_name }}</a> <span class="muted fediverse-handle">@{{ post.login_name }}@{{ domain }}</span>
          </p>
          {% if collaborative_participants %}
            <div class="collaborative-participants">
              <p>
                <strong>{{ ftl_post_collaborative_participants }}:</strong>
              </p>
              <ul>
                {% for participant in collaborative_participants %}
                  <li>
                    <a href="/@{{ participant.login_name }}">@{{ participant.display_name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% block post_edit_block %}
            <div hx-target="this" hx-swap="outerHTML">
              <p>
                {{ ftl_post_title }}:
                {% if post.title %}
                  {{ post.title }}
                {% else %}
                  {{ ftl_post_no_title }}
                {% endif %}
                {% if parent_post_id %}<a href="/@{{ parent_post_author_login_name }}/{{ parent_post_id }}">↵</a>{% endif %}
              </p>
              <p>
                {{ ftl_post_description }}:
                <div class="post-content">{{ post.content|markdown|safe }}</div>
              </p>
              {% if current_user.id == post.author_id %}
                <div class="post-menu">
                  <button hx-get="/posts/{{ post_id }}/edit">{{ ftl_edit }}</button>
                  <form hx-delete="/posts/{{ post_id }}"
                        hx-confirm="{{ ftl_post_delete_confirm }}"
                        hx-target="body">
                    <button type="submit">{{ ftl_delete }}</button>
                  </form>
                </div>
              {% endif %}
            </div>
          {% endblock post_edit_block %}
          <div class="post-share">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
               class="twitter-share-button"
               data-text="{%- if post.title -%}{{ post.title }}{%- else -%}{{ ftl_post_no_title }}{%- endif -%}"
               data-hashtags="oeee_cafe"
               data-related="oeee_cafe"
               data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
      <div class="post-comments">
        <h2>{{ ftl_post_comments }}</h2>
        <div id="comments">
          {% if current_user %}
            <form hx-post="/comments" hx-swap="outerHTML" hx-target="#comments">
              <input type="hidden" name="post_id" value="{{ post_id }}">
              <textarea name="content"></textarea>
              <button type="submit">{{ ftl_post_comment }}</button>
            </form>
          {% endif %}
          {% if comments %}
            {{ comments_macro.comments(comments) }}
          {% else %}
            <p>
              {{ ftl_post_no_comments }}
              {% if not current_user %}{{ ftl_post_no_comments_signin }}{% endif %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
