<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>
      오이카페 |
      {% if post.title %}
        {{ post.title }}
      {% else %}
        무제
      {% endif %}
      (리플레이)
    </title>
    <meta name="keywords" content="오이카페, 오에카키, 커뮤니티, お絵かき" />
    <meta name="description" content="오이카페는 오에카키 커뮤니티입니다. お絵かできるOEEEカフェです。" />
    <link rel="stylesheet"
          href="{{ '/static/tegaki/css/tegaki.css' | cachebuster | safe }}" />
    <script src="{{ '/static/tegaki/js/strings/en.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/tool.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/brush.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/pencil.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/pen.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/airbrush.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/blur.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/bucket.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/eraser.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/pipette.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/tools/tone.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/$T.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/cursor.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/history.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/layers.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/keybinds.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/palettes.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/ui.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/pressure.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/replayevents.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/replayrecorder.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/replayviewer.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/binary.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/js/main.js' | cachebuster | safe }}"></script>
    <script src="{{ '/static/tegaki/lib/UZIP/UZIP.js' | cachebuster | safe }}"></script>
  </head>
  <body>
    <script type="text/javascript">
      Tegaki.onCloseViewerClick = function () {
        window.location.href = "/posts/{{ post_id }}";
      };

      Tegaki.open({
        replayMode: true,
        replayURL:
          "{{ r2_public_endpoint_url|safe }}/replay/{{ post.replay_filename[:2] }}/{{ post.replay_filename }}",
      });
    </script>
  </body>
</html>
