{% extends "base.html" %} {% block body %}
<div class="center">
  <p>{{ ftl_post_created_at }}: {{ post.created_at }}</p>
  <p>{{ ftl_post_duration }}: {{ post.paint_duration }}</p>
  <img
    width="{{ post.image_width }}"
    height="{{ post.image_height }}"
    alt="{{ ftl_draft_post }}"
    src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}"
  />
  <form action="/posts/publish" method="post">
    <input type="hidden" name="post_id" value="{{ post.id }}" />
    <p>
      {{ ftl_community }}:
      <a href="{{ link }}">{{ post.community_name }}</a>
    </p>
    <p>
      <label for="title">{{ ftl_post_title }}:</label>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="content">{{ ftl_post_description }}:</label>
      <textarea name="content"></textarea>
    </p>
    <p>
      <label for="is_sensitive">{{ ftl_sensitive }}:</label>
      <input type="checkbox" name="is_sensitive" />
    </p>
    <div>
      <label>{{ ftl_allow_relay }}:</label>
      <input type="checkbox" name="allow_relay" checked />
    </div>
    <input type="submit" value="{{ ftl_post_publish }}" />
  </form>
  <form
    hx-delete="/posts/{{ encoded_post_id }}"
    hx-confirm="{{ ftl_post_delete_confirm }}"
    hx-target="body"
  >
    <button type="submit">{{ ftl_delete }}</button>
  </form>
</div>
{% endblock body %}
