<!DOCTYPE html>
<html lang="{{ ftl_lang }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Replay</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: #ddd;
            overflow: hidden;
        }
        #viewer {
            display: block;
            width: 100%;
            height: 100%;
            border: 0;
        }
    </style>
</head>
<body>
<iframe id="viewer"
        title="Replay"
        src="/collaborate/?viewer=true&amp;width={{ post.image_width }}&amp;height={{ post.image_height }}&amp;replay={{ r2_public_endpoint_url }}/replay/{{ post.replay_filename[:2] }}/{{ post.replay_filename }}"></iframe>
</body>
</html>
