{% extends "base_iframe.html" %}
{% block title %}
  {{ super() }} | {{ user.display_name }} (@{{ user.login_name }})
{% endblock title %}
{% block body %}
  <div class="center">
    {% if posts %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/posts/{{ post.id }}">
              <img width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   alt="{{ post.title }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_profile_public_community_posts_nil }}</p>
    {% endif %}
  </div>
{% endblock body %}
