{% extends "base.jinja" %}
{% block body %}
    <div class="center">
        <h2>{{ ftl_profile_settings }}</h2>
        <h3>{{ ftl_profile_link_management }}</h3>
        {% block links %}
            {% if not user.email_verified_at %}
                <p>{{ ftl_profile_link_requires_verified_email }}</p>
            {% else %}
                <div id="links">
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{ link.url }}" target="_blank">{{ link.description }}</a> ({{ ftl_profile_link_order }}: {{ link.index }})
                                <button hx-post="/@{{ user.login_name }}/settings/links/{{ link.id }}/up"
                                        hx-target="#links">{{ ftl_profile_link_move_up }}</button>
                                <button hx-post="/@{{ user.login_name }}/settings/links/{{ link.id }}/down"
                                        hx-target="#links">{{ ftl_profile_link_move_down }}</button>
                                <button hx-delete="/@{{ user.login_name }}/settings/links/{{ link.id }}"
                                        hx-target="#links"
                                        hx-confirm="{{ ftl_profile_link_delete_confirm }}">
                                    {{ ftl_profile_link_delete }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    <form hx-post="/@{{ user.login_name }}/settings/links" hx-target="#links">
                        <fieldset>
                            <legend>{{ ftl_profile_link_add }}</legend>
                            <input type="url" name="url" placeholder="https://example.com">
                            <input type="text"
                                   name="description"
                                   placeholder="{{ ftl_profile_link_description }}">
                            <input type="submit" value="{{ ftl_profile_link_add }}">
                        </fieldset>
                    </form>
                </div>
            {% endif %}
        {% endblock links %}
    </div>
{% endblock body %}
