{% extends "base.jinja" %}
{% block content %}
  <div class="center">
    <form method="post">
      <fieldset>
        <legend>{{ ftl_sign_up }}</legend>
        <p>
          <label for="login_name">{{ ftl_login_name }}</label>
          <input name="login_name" id="login_name" autocapitalize="none" required />
        </p>
        <p>
          <label for="password">{{ ftl_password }}</label>
          <input name="password" id="password" type="password" required />
        </p>
        <p>
          <label for="password_confirm">{{ ftl_password_repeat }}</label>
          <input name="password_confirm"
                 id="password_confirm"
                 type="password"
                 required />
        </p>
        <p>
          <label for="display_name">{{ ftl_display_name }}</label>
          <input name="display_name" id="display_name" required />
        </p>
      </fieldset>
      <input type="submit" value="{{ ftl_sign_up }}" />
    </form>
  </div>
{% endblock content %}
