{% extends "base.jinja" %}
{% block title %}
  {{ super() }} | {{ ftl_timeline }}
{% endblock title %}
{% block content %}
  <div class="center">
    <h2>{{ ftl_timeline_my }}</h2>
    {% if posts|length > 0 %}
      <div class="posts-grid">
        {% for post in posts %}
          <div class="posts-grid-item">
            <a href="/posts/{{ post.id }}">
              <img width="{{ post.image_width }}"
                   height="{{ post.image_height }}"
                   alt="{{ post.title }}"
                   src="{{ r2_public_endpoint_url }}/image/{{ post.image_filename[:2] }}/{{ post.image_filename }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>{{ ftl_timeline_empty|safe }}</p>
    {% endif %}
  </div>
{% endblock content %}
